In [ ]:
for outerloop in range(1,5):
    for innerloop in range(1,outerloop+1):
        print("*",end="")
    print("")

*
**
***
****

In [ ]:
for outerloop in range(1,5):
    for innerloop in range(4,outerloop-1,-1):
          print("*", end="" )

    print("")

****
***
**
*

In [ ]:
for outerloop in range(1,5):
    for innerloop in range(1,outerloop+1):
        print(innerloop,end="")
    print("")

1
12
123
1234

In [ ]:
for outerloop in range(1, 5):
    for innerloop in range(4, outerloop-1,-1):
        print(innerloop, end="")
    print("")

4321
432
43
4

In [ ]:
for outerloop in range(1,5):
    for innerloop in range(1,outerloop+1):
        print(chr(innerloop+64),end="")
    print("")

A
AB
ABC
ABCD

In [ ]:
start_value = 65  # ASCII value for 'A'

for outerloop in range(1, 5):
    for innerloop in range(outerloop):
        print(chr(start_value), end="")
        start_value += 1
    print("")

A
BC
DEF
GHIJ

In [ ]:
for outerloop in range(1, 6 ,2):
    for innerloop in range(outerloop):
        print("*", end="")
    print("")

*
***
*****

In [ ]:
num =1
for outerloop in range(1, 5):
    for innerloop in range(outerloop):
        print(num, end=" ")
        num+= 1



    print("")

1
2 3
4 5 6
7 8 9 10

In [7]:
for outerloop in range(2, 10, 2):
    for innerloop in range(outerloop):
        print("*", end="")
    print("")

**
****
******
********

In [ ]:
 for outerloop in range(1, 5):
    for innerloop in range(5 - outerloop):
        print(" ", end="")
    for innerloop in range(outerloop):
        print("*", end="")
    print("")

    *
   **
  ***
 ****

In [51]:
for i in range (1,5):
    count=45
    count+=i
print(count)

49

In [2]:
my_list = [[1, 'two'], [3, 'four'], [5]]

int_list = [element for sublist in my_list for element in sublist if isinstance(element, int)]
str_list = [element for sublist in my_list for element in sublist if isinstance(element, str)]

print(int_list)
print(str_list)

[1, 3, 5]
['two', 'four']

In [4]:
data = [2, 5, 8, 10]

squared_values = [x**2 for x in data if isinstance(x, int)]

print(squared_values)

[4, 25, 64, 100]

In [52]:
my_list = ['apple', 'banana', 'cat', 'dog', 'elephant', 'frog']

for element in my_list:
    if isinstance(element, str) and len(element) > 3:
        print(element)

apple
banana
elephant
frog

In [123]:
for i in range (1,5):

  for k in range (1,i):
      print(" ",end="")
  for l in range (5,i,-1):
        print("*",end="")
  print("")

****
 ***
  **
   *